@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root{
    --titulo: 'Passion One', cursive;
    --poema: 'Sriracha', cursive;
}

body{
    font-family: var(--poema);
}

header{
    background-color: black;
    color: white;
    min-height: fit-content;

}

header > h1 {
    text-align: center;
    font-family: var(--titulo);
    font-weight: bold;
    font-size: 10vw;
    padding-top: 40px;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.447);
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 50px;
}

main{
    padding-top: 50px;
    font-size: 3.5vw;
    line-height: 2em;
}

section{
    padding-bottom: 150px;
    padding-top: 40px;
    padding-left: 30px;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#joaninha{
    background: black url(imagens/background001.jpg) right center no-repeat fixed;
    background-size: cover;
    color: white;
    display: flex;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.315);
    padding-bottom: 10vh;
    padding-top: 10vh;
}

#joaninha > p {
    background-color: rgba(0, 0, 0, 0.416);
    padding: 10px 5px;
}

#carta{
    background: black url(imagens/background002.jpg) right center no-repeat fixed;
    background-size: cover;
    color: white;
    display: flex;
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.315);
    padding-bottom: 10vh;
    padding-top: 10vh;
}

#carta > p {
    background-color: rgba(0, 0, 0, 0.47);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
    padding: 10px 5px;
}